.blog {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.blog-content {
  width: 100%;
}
.blog textarea {
  width: 50%;
  margin: 30px 10px;
}
.first-to-post img {
  max-width: 250px;
}
.posts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .blog {
    display: none;
  }
}
@media only screen and (max-height: 500px) {
  .blog {
    justify-content: flex-start;
  }
  .blog h1 {
    font-size: 120%;
  }
  .blog textarea {
    margin: 10px;
  }
}